body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("gambar/bg.png");
    margin: 0;
}
h1 {
    text-align: center;
    background-color: #09c5f9e3;
    color: white;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
    border-color: black;
}
h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    width: 600px;
    border-radius: 8px;
}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.container {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #343434ca;
    color: white;
    padding: 10px;
}
.item {
    flex: 1;
    padding: 10px;
    text-align: center;
}
.item:hover {
    background-color: aliceblue;
    color: #0000ff;
}
.item1 {
    margin-left: 500px;
}
.item4 {
    margin-right: 500px;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 5px;
    margin-top: 15px;
    align-items: stretch;
}

.utama {
    grid-column: 1 / 2;
    background-color: #FFF5EE;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.699);
    margin-left: 16px;
}

.sidebar {
    grid-column: 2 / 3;
    background-color: #FFF5EE;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.699);
    margin-right: 16px;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: o;
}
a {
    color: #FFF5EE;
    text-decoration: none;
    font-size: larger;
    background-color: transparent;
    border: 30px #000000;
}
a:hover {
    background-color: rgba(0, 153, 255, 0.575);
}
.kontak {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.kontak label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.kontak input[type="text"],
.kontak input[type="number"],
.kontak select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}

.kontak input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0095f8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kontak input[type="submit"]:hover {
    background-color: #50b9ff;
}
footer {
    margin-bottom: 0;
}
.medsos {
    color: white;
    background-color: #0095f8;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
    margin: 4px 0;
    text-decoration: none;
}
.medsos:hover {
    background-color: #50b9ff;
}
